
<style type="text/css">
  body{
background: #f5f5f5;
margin-top:20px;
}

.ui-w-80 {
width: 80px !important;
height: auto;
}

.btn-default {
border-color: rgba(24,28,33,0.1);
background: rgba(0,0,0,0);
color: #4E5155;
}

label.btn {
margin-bottom: 0;
}

.btn-outline-primary {
border-color: #26B4FF;
background: transparent;
color: #26B4FF;
}

.btn {
cursor: pointer;
}

.text-light {
color: #babbbc !important;
}

.btn-facebook {
border-color: rgba(0,0,0,0);
background: #3B5998;
color: #fff;
}

.btn-instagram {
border-color: rgba(0,0,0,0);
background: #000;
color: #fff;
}

.card {
background-clip: padding-box;
box-shadow: 0 1px 4px rgba(24,28,33,0.012);
}

.row-bordered {
overflow: hidden;
}

.account-settings-fileinput {
position: absolute;
visibility: hidden;
width: 1px;
height: 1px;
opacity: 0;
}
.account-settings-links .list-group-item.active {
font-weight: bold !important;
}
html:not(.dark-style) .account-settings-links .list-group-item.active {
background: transparent !important;
}
.account-settings-multiselect ~ .select2-container {
width: 100% !important;
}
.light-style .account-settings-links .list-group-item {
padding: 0.85rem 1.5rem;
border-color: rgba(24, 28, 33, 0.03) !important;
}
.light-style .account-settings-links .list-group-item.active {
color: #4e5155 !important;
}
.material-style .account-settings-links .list-group-item {
padding: 0.85rem 1.5rem;
border-color: rgba(24, 28, 33, 0.03) !important;
}
.material-style .account-settings-links .list-group-item.active {
color: #4e5155 !important;
}
.dark-style .account-settings-links .list-group-item {
padding: 0.85rem 1.5rem;
border-color: rgba(255, 255, 255, 0.03) !important;
}
.dark-style .account-settings-links .list-group-item.active {
color: #fff !important;
}
.light-style .account-settings-links .list-group-item.active {
color: #4E5155 !important;
}
.light-style .account-settings-links .list-group-item {
padding: 0.85rem 1.5rem;
border-color: rgba(24,28,33,0.03) !important;
}
.edit-profile:hover{
  background: white;
  color:  rgb(119, 119, 119);
}

</style>
<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product Details Page</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">product-details</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
<div class="container mb-3 light-style flex-grow-1 container-p-y">

  <h4 class="font-weight-bold py-3 mb-4">
    {{successMessage}}
    {{errorMessage}}
  </h4>

  <div class="card edit-profile overflow-hidden">
    <div class="row no-gutters row-bordered row-border-light">
      <div class="col-md-3 pt-0">
        <div class="list-group list-group-flush account-settings-links">
          <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
          <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Info</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <form action="/setting/update-profile/general" enctype="multipart/form-data" method="post" class="tab-pane fade active show" id="account-general">

            <div class="card-body media align-items-center">
              <img src="{{profile.avatar}}" alt="" class="d-block ui-w-80">
              <div class="media-body ml-4">
                <label class="btn btn-outline-primary">
                  Upload new photo
                  <input type="file" name="avatar" class="account-settings-fileinput">
                </label> &nbsp;
                <button type="button" class="btn btn-default md-btn-flat">Reset</button>

                <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
              </div>
            </div>
            <hr class="border-light m-0">

            <div class="card-body">
              <div class="form-group">
                <label class="form-label">Username</label>
                <input type="text" class="form-control mb-1" name="username" value="{{profile.username}}">
              </div>
              <div class="form-group">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="name" value="{{profile.name}}">
              </div>
              <div class="form-group">
                <label class="form-label">E-mail</label>
                <input type="text" class="form-control mb-1" value="{{profile.email}}" disabled>
                {{#if (not profile.isConfirmed)}}
                <div class="alert alert-warning mt-3">
                      Your email is not confirmed. Please check your inbox.<br>
                      <a id="resend-confirmation-button" href="javascript:void(0)" >Resend confirmation</a>
                </div>
                {{/if}}
                <div class="form-group text-right mt-3">
                  <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
                  <button type="button" class="btn btn-default">Cancel</button>
                </div>
              </div>
            </div>
          </form>
          <div class="tab-pane fade" id="account-change-password">
            <form class="card-body pb-2" action="/setting/update-profile/password" method="post">

              <div class="form-group">
                <label class="form-label">Current password</label>
                <input type="password" class="form-control" name="currentPassword">
              </div>

              <div class="form-group">
                <label class="form-label">New password</label>
                <input type="password" class="form-control" name="newPassword">
              </div>

              <div class="form-group">
                <label class="form-label">Repeat new password</label>
                <input type="password" class="form-control" name="repeatNewPassword">
              </div>
              <div class="form-group text-right mt-3">
                  <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
                  <button type="button" class="btn btn-default">Cancel</button>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="account-info">
            <form action="/setting/update-profile/info" method="post">
              <div class="card-body pb-2">
                <div class="form-group">
                  <label class="form-label">Birthday</label>
                  <input type="date" class="form-control" name="birthday" value="{{formatDate profile.birthday}}">
                </div>
                <div class="form-group mt-1">
                  <label class="form-label">Địa chỉ</label>
                  <input type="text" class="form-control" name="address" value="{{profile.address}}">
                </div>
              </div>
              <hr class="border-light m-0">
              <div class="card-body pb-2">
                <h6 class="mb-4">Contacts</h6>
                <div class="form-group">
                  <label class="form-label">Phone</label>
                  <input type="tel" class="form-control" name="phone" value="{{profile.phone}}">
                </div>
                <div class="form-group">
                  <label class="form-label">Facebook</label>
                  <input type="url" class="form-control" name="facebook" value="{{profile.facebook}}">
                </div>
                <div class="form-group text-right mt-3">
                  <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
                  <button type="button" class="btn btn-default">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form id="resend-email-form" action="/resend-confirmation" method="post" style="display:none;">
    <input type="hidden" name="email" value="{{profile.email}}">
  </form>
  {{!-- <div class="text-right mt-3">
    <button type="button" class="btn btn-primary">Save changes</button>&nbsp;
    <button type="button" class="btn btn-default">Cancel</button>
  </div> --}}

</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">

</script>
<script>
  document.getElementById('resend-confirmation-button').addEventListener('click', function() {
    document.getElementById('resend-email-form').submit();
  });

</script>

