<body id="category">
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <!-- Content here -->
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">Categories</div>
                    <ul class="main-categories">
                        <li class="main-nav-list">
                            <a data-toggle="collapse" href="#fruitsVegetable" aria-expanded="false" aria-controls="fruitsVegetable">
                                <span class="lnr lnr-arrow-right"></span>Sports Shoes<span class="number">(53)</span>
                            </a>
                            <ul class="collapse" id="fruitsVegetable" data-toggle="collapse" aria-expanded="false" aria-controls="fruitsVegetable">
                                <li class="main-nav-list child">
                                    <a href="javascript:void(0);" id="running-link" onclick="setTypeFilter('running')">Running Shoes<span class="number">(13)</span></a>
                                </li>
                                <li class="main-nav-list child">
                                    <a href="javascript:void(0);" id="basketball-link" onclick="setTypeFilter('basketball')">Basketball Shoes<span class="number">(09)</span></a>
                                </li>
                                <li class="main-nav-list child">
                                    <a href="javascript:void(0);" id="tennis-link" onclick="setTypeFilter('tennis')">Tennis Shoes<span class="number">(17)</span></a>
                                </li>
                                <li class="main-nav-list child">
                                    <a href="javascript:void(0);" id="walking-link" onclick="setTypeFilter('walking')">Walking Shoes<span class="number">(11)</span></a>
                                </li>
                            </ul>
                        </li>
                        <!-- Other categories go here -->
						<li class="main-nav-list"><a data-toggle="collapse" href="#meatFish" aria-expanded="false" aria-controls="meatFish"><span
								 class="lnr lnr-arrow-right"></span>Leather Shoes<span class="number">(53)</span></a>
							<ul class="collapse" id="meatFish" data-toggle="collapse" aria-expanded="false" aria-controls="meatFish">
                                <li class="main-nav-list child">
                                    <a href="javascript:void(0);" id="mens-dress-link" onclick="setTypeFilter('mens-dress')">Men’s Dress Shoes<span class="number">(13)</span></a>
                                </li>
                                <li class="main-nav-list child">
                                    <a href="javascript:void(0);" id="loafers-link" onclick="setTypeFilter('loafers')">Loafers<span class="number">(09)</span></a>
                                </li>
                                <li class="main-nav-list child">
                                    <a href="javascript:void(0);" id="high-top-link" onclick="setTypeFilter('high-top')">High-Top Shoes<span class="number">(17)</span></a>
                                </li>
                                <li class="main-nav-list child">
                                    <a href="javascript:void(0);" id="boots-link" onclick="setTypeFilter('boots')">Boots<span class="number">(01)</span></a>
                                </li>
                                <li class="main-nav-list child">
                                    <a href="javascript:void(0);" id="womens-leather-link" onclick="setTypeFilter('womens-leather')">Women’s Leather Shoes<span class="number">(11)</span></a>
                                </li>
                         </ul>

						
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#cooking" aria-expanded="false" aria-controls="cooking"><span
								 class="lnr lnr-arrow-right"></span>Sneakers<span class="number">(53)</span></a>
						<ul class="collapse" id="cooking" data-toggle="collapse" aria-expanded="false" aria-controls="cooking">
                            <li class="main-nav-list child">
                                <a href="javascript:void(0);" id="sports-sneakers-link" onclick="setTypeFilter('sports-sneakers')">Sports Sneakers<span class="number">(13)</span></a>
                            </li>
                            <li class="main-nav-list child">
                                <a href="javascript:void(0);" id="fashion-sneakers-link" onclick="setTypeFilter('fashion-sneakers')">Fashion Sneakers<span class="number">(09)</span></a>
                            </li>
                            <li class="main-nav-list child">
                                <a href="javascript:void(0);" id="classic-sneakers-link" onclick="setTypeFilter('classic-sneakers')">Classic Sneakers<span class="number">(17)</span></a>
                            </li>
                            <li class="main-nav-list child">
                                <a href="javascript:void(0);" id="special-edition-sneakers-link" onclick="setTypeFilter('special-edition-sneakers')">Special Edition Sneakers<span class="number">(01)</span></a>
                            </li>
                        </ul>

						</li>
					
						<li class="main-nav-list"><a data-toggle="collapse" href="#beverages" aria-expanded="false" aria-controls="beverages"><span
								 class="lnr lnr-arrow-right"></span>Women’s Shoes<span class="number">(24)</span></a>
						<ul class="collapse" id="beverages" data-toggle="collapse" aria-expanded="false" aria-controls="beverages">
                            <li class="main-nav-list child">
                                <a href="javascript:void(0);" id="high-heels-link" onclick="setTypeFilter('high-heels')">High Heels<span class="number">(13)</span></a>
                            </li>
                            <li class="main-nav-list child">
                                <a href="javascript:void(0);" id="flats-link" onclick="setTypeFilter('flats')">Flats<span class="number">(09)</span></a>
                            </li>
                            <li class="main-nav-list child">
                                <a href="javascript:void(0);" id="sandals-link" onclick="setTypeFilter('sandals')">Sandals<span class="number">(17)</span></a>
                            </li>
                            <li class="main-nav-list child">
                                <a href="javascript:void(0);" id="womens-boots-link" onclick="setTypeFilter('womens-boots')">Women’s Boots<span class="number">(01)</span></a>
                            </li>
                        </ul>

						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#homeClean" aria-expanded="false" aria-controls="homeClean"><span
								 class="lnr lnr-arrow-right"></span>Kids’ Shoes<span class="number">(53)</span></a>
						<ul class="collapse" id="homeClean" data-toggle="collapse" aria-expanded="false" aria-controls="homeClean">
                            <li class="main-nav-list child">
                                <a href="javascript:void(0);" id="boys-shoes-link" onclick="setTypeFilter('boys-shoes')">Boys’ Shoes<span class="number">(13)</span></a>
                            </li>
                            <li class="main-nav-list child">
                                <a href="javascript:void(0);" id="girls-shoes-link" onclick="setTypeFilter('girls-shoes')">Girls’ Shoes<span class="number">(09)</span></a>
                            </li>
                            <li class="main-nav-list child">
                                <a href="javascript:void(0);" id="kids-sports-shoes-link" onclick="setTypeFilter('kids-sports-shoes')">Kids’ Sports Shoes<span class="number">(17)</span></a>
                            </li>
                            <li class="main-nav-list child">
                                <a href="javascript:void(0);" id="kids-sandals-link" onclick="setTypeFilter('kids-sandals')">Kids’ Sandals<span class="number">(01)</span></a>
                            </li>
                        </ul>

						</li>
					</ul>
						</div>
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head">Product Filters</div>
					<div class="common-filter">
						 <div class="head">Brands</div>
                        <ul>
                            <li class="filter-list">
                                <input class="pixel-checkbox" type="checkbox" id="addidas" name="brand" value="Addidas">
                                <label for="addidas">Addidas<span>(29)</span></label>
                            </li>
                            <li class="filter-list">
                                <input class="pixel-checkbox" type="checkbox" id="ananas" name="brand" value="Ananas">
                                <label for="ananas">Ananas<span>(29)</span></label>
                            </li>
                            <li class="filter-list">
                                <input class="pixel-checkbox" type="checkbox" id="nike" name="brand" value="Nike">
                                <label for="nike">Nike<span>(19)</span></label>
                            </li>
                            <li class="filter-list">
                                <input class="pixel-checkbox" type="checkbox" id="convert" name="brand" value="Convert">
                                <label for="convert">Convert<span>(19)</span></label>
                            </li>
                            <li class="filter-list">
                                <input class="pixel-checkbox" type="checkbox" id="puma" name="brand" value="Puma">
                                <label for="puma">Puma<span>(19)</span></label>
                            </li>
                        </ul>
                </div>
					<div class="common-filter">
						<div class="head">Color</div>
						<form action="#">
						    <ul>
                                <li class="filter-list">
                                    <input class="pixel-checkbox" type="checkbox" id="black" name="color" value="Black">
                                    <label for="black">Black<span>(29)</span></label>
                                </li>
                                <li class="filter-list">
                                    <input class="pixel-checkbox" type="checkbox" id="blackleather" name="color" value="Black Leather">
                                    <label for="blackleather">Black Leather<span>(29)</span></label>
                                </li>
                                <li class="filter-list">
                                    <input class="pixel-checkbox" type="checkbox" id="blackred" name="color" value="Black with Red">
                                    <label for="blackred">Black with Red<span>(19)</span></label>
                                </li>
                                <li class="filter-list">
                                    <input class="pixel-checkbox" type="checkbox" id="gold" name="color" value="Gold">
                                    <label for="gold">Gold<span>(19)</span></label>
                                </li>
                                <li class="filter-list">
                                    <input class="pixel-checkbox" type="checkbox" id="spacegrey" name="color" value="Spacegrey">
                                    <label for="spacegrey">Spacegrey<span>(19)</span></label>
                                </li>
                            </ul>

						</form>
					</div>
					<div class="common-filter">
						<div class="head">Price</div>
						<div class="price-range-area">
							<div id="price-range"></div>
							<div class="value-wrapper d-flex">
								<div class="price">Price:</div>
								<span>$</span>
								<div id="lower-value"></div>
								<div class="to">to</div>
								<span>$</span>
								<div id="upper-value"></div>
							</div>
						</div>
					</div>
				</div>
			

               
                <!-- Additional filters go here -->
            </div>

            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                   <div class="sorting">
                        <select id="sort-criteria" onchange="applySort(this.value)">
                            <option value="default">Default sorting</option>
                            <option value="price_asc">Price: Low to High</option>
                            <option value="price_desc">Price: High to Low</option>
                            <option value="creation_time_desc">Newest</option>
                            <option value="rate_desc">Best Rated</option>
                        </select>
                    </div>

                    <div class="sorting mr-auto" >
                        <select id="items-per-page" onchange="updateItemsPerPage(this.value)">
                            <option value="12">Show 12</option>
                            <option value="24">Show 24</option>
                            <option value="36">Show 36</option>
                        </select>
                    </div>
                    <div class="pagination">
                        {{#if totalPages}}
                            {{#if (gt currentPage 1)}}
                                <a href="#" onclick="changePage({{sub currentPage 1}})" class="prev-arrow">Previous</a>
                            {{/if}}

                            {{#each (createPagination currentPage totalPages)}}
                                <a href="#" class="{{#ifEquals this ../currentPage}}active{{/ifEquals}}" onclick="changePage({{this}})" >{{this}}</a>
                            {{/each}}

                            {{#if (lt currentPage totalPages)}}
                                <a href="#" class="next-arrow" onclick="changePage({{add currentPage 1}})">Next</a>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
                <!-- End Filter Bar -->

                <!-- Start Product List -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row" id="product-list">
                        {{#each products}}
                        <div class="col-lg-4 col-md-6">
                            <div class="single-product">
                                <a href="/product/product-details/{{this.slug}}">
                                    <img class="img-fluid" src="/{{this.image}}" alt="{{this.name}}">
                                </a>
                                <div class="product-details">
                                    <a href="/product/product-details/{{this.slug}}">
                                        <h6>{{this.name}}</h6>
                                    </a>
                                    <div class="price">
                                        <h6>${{this.price}}</h6>
                                        <h6 class="l-through">$210.00</h6>
                                       
                                    </div>
                                    <div class="prd-bottom">
                                       <a href="javascript:void(0)" class="social-info add-to-cart" data-slug="{{this.slug}}" data-name="{{this.name}}" data-price="{{this.price}}" data-image="/{{this.image}}">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                        </a>

                                        <a href="" class="social-info">
                                            <span class="lnr lnr-heart"></span>
                                            <p class="hover-text">Wishlist</p>
                                        </a>
                                        <a href="" class="social-info">
                                            <span class="lnr lnr-sync"></span>
                                            <p class="hover-text">compare</p>
                                        </a>
                                        <a href="/product/product-details/{{this.slug}}" class="social-info">
                                            <span class="lnr lnr-move"></span>
                                            <p class="hover-text">view more</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </section>
                <!-- End Product List -->

                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="sorting mr-auto">
                        <select  id="items-per-page-bottom" onchange="updateItemsPerPage(this.value)">
                            <option value="12">Show 12</option>
                            <option value="24">Show 24</option>
                            <option value="36">Show 36</option>
                        </select>
                    </div>
                    <div class="pagination">
                        {{#if totalPages}}
                            {{#if (gt currentPage 1)}}
                                <a href="#" onclick="changePage({{sub currentPage 1}})" class="prev-arrow">Previous</a>
                            {{/if}}

                            {{#each (createPagination currentPage totalPages)}}
                                <a href="#" class="{{#ifEquals this ../currentPage}}active{{/ifEquals}}" onclick="changePage({{this}})" >{{this}}</a>
                            {{/each}}

                            {{#if (lt currentPage totalPages)}}
                                <a href="#" class="next-arrow" onclick="changePage({{add currentPage 1}})">Next</a>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
                <!-- End Filter Bar -->
            </div>
        </div>
    </div>

    <!-- Start related-product Area -->
    <section class="related-product-area section_gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Deals of the Week</h1>
                        <p>Our exclusive deal that helps you enjoy life to the fullest and in style!</p>
                    </div>
                </div>
            </div>
            <!-- Additional content here -->
            <div class="row">
				<div class="col-lg-9">
					  <div class="row">	
                    {{#each dealProducts}}
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="/product/product-details/{{this.slug}}">
                        		<img src="/{{this.image}}" alt="{{this.name}}" style="max-width: 100px; height: auto;">
                    		</a>
                            <div class="desc">
                                <a href="/product/product-details/{{this.slug}}" class="title">{{this.name}}</a>
                                <div class="price">
                                    <h6>${{this.price}}</h6>
                                    <h6 class="l-through">$210.00</h6>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="/img/category/c5.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
        </div>
    </section>
    <!-- End related-product Area -->
<script src="/js/filter.js"></script>

</body>

 